@charset "UTF-8";
/*
Author: Beja Benabid
Author URI: https://www.facebook.com/bnbja
Description: Today Matches
Version: 2.0
*/
* {
  padding: 0;
  margin: 0;
  outline: none;
  list-style: none;
  border: 0 none;
}





img {
  vertical-align: top;
}

.clear,
.clr {
  clear: both;
  height: 0;
}

.clearfix:after,
.clearfix:before,
.row:after,
.row:before {
  display: table;
  content: " ";
}

.clearfix:after, .row:after {
  clear: both;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}

.row {
  margin-right: -10px;
  margin-left: -10px;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

/*Video embed*/
.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}

.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}

pre, code {
  direction: ltr;
  background: url(img/code.png);
  font: 11px/19px 'andale mono','lucida console',monospace;
  padding: 3px;
  display: block;
  overflow-x: visible;
  overflow-y: hidden;
  margin: 0 0 20px 0;
  color: #666;
  border-top: 1px solid #E1E1E1;
  border-left: 1px solid #E1E1E1;
  border-bottom: 1px solid #F0F0F0;
  border-right: 1px solid #F0F0F0;
  border-radius: 0;
}

.thumbnail img {
  width: 100%;
  height: auto;
}

.trans, body .overlay, .ap_teams li img, .stiky .item .thumbnail img, .td_match .bt, .td_match .mlist .match, .ap_slider .slide-nav, .ap_slider .slider-for .item .thumbnail img, .ap_slider .slider-for .item .det .rmore, .ap_slider .slider-nav .item .thumbnail img, .secnews .thumbnail img, .social-b .list-social a, .archive_live .ar_match, .archive_live .match-list .match, .ap_single .moreposts .list .item, .ap_single .moreposts .list .item .thumbnail img, .ap_single .moreposts .list .item .thumbnail span.play-icon {
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  -moz-transition-duration: .3s;
  -webkit-transition-duration: .3s;
  -o-transition-duration: .3s;
  transition-duration: .3s;
}

.scale, .ap_teams li:hover img, .stiky .item:hover .thumbnail img, .ap_slider .slider-for .item:hover .thumbnail img, .ap_slider .slider-for .item .det .shr li:hover a, .ap_slider .slider-nav .item:hover .thumbnail img, .secnews .item:hover .thumbnail img, .social-b .list-social a:hover, .ap_single .moreposts .list .item:hover .thumbnail img {
  -webkit-transform: scale(1.07);
  -moz-transform: scale(1.07);
  -o-transform: scale(1.07);
  -ms-transform: scale(1.07);
  transform: scale(1.07) rotate(2deg);
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.ap-header {
  position: relative;
}

.ap-nav .ap_logo_mobile {
  float: right;
  margin-left: 10px;
}
.ap-nav .ap_logo_mobile img {
  max-height: 45px;
}
.ap-nav .menu {
  float: right;
}
.ap-nav .ap_left {
  float: left;
  position: relative;
  padding: 5px;
}
.ap-nav .ap_left .ap_share {
  right: 40px;
  width: 35px;
  height: 35px;
  line-height: 40px;
  text-align: center;
  float: left;
}
.ap-nav .ap_left .ap_share:hover .icns {
  display: block;
  position: relative;
  z-index: 999;
}
.ap-nav .ap_left .ap_share .icns {
  display: none;
  background: #FFF;
  box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.14);
  position: relative;
}
.ap-nav .ap_left .ap_share .icns:after {
  content: '';
  position: absolute;
  top: -10px;
  right: 50%;
  margin-right: -5px;
  border-style: solid;
  border-width: 5px;
  border-color: transparent transparent #fff transparent;
}
.ap-nav .ap_left .ap_share .icns li {
  padding: 0;
  border: 0;
  float: none;
  background: none;
  border-bottom: 1px dashed #EEE;
}
.ap-nav .ap_left .ap_share .icns li:after {
  background: none;
}
.ap-nav .ap_left .ap_share .icns li:last-child {
  border: 0;
}
.ap-nav .ap_left .ap_share .icns li a {
  display: block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  color: #000;
  background: #FFF;
}
.ap-nav .ap_left .ap_share .icns li .fa-facebook-official {
  color: #3b5999;
}
.ap-nav .ap_left .ap_share .icns li .fa-twitter {
  color: #55acee;
}
.ap-nav .ap_left .ap_share .icns li .fa-google {
  color: #dd4b39;
}
.ap-nav .ap_left .ap_share .icns li .fa-instagram {
  color: #e4405f;
}
.ap-nav .ap_left .ap_share .icns li .fa-youtube-play {
  color: #cd201f;
}
.ap-nav .hsearch {
  z-index: 2;
  color: white;
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  right: 0;
  top: 0;
  float: left;
  z-index: 9999;
  position: relative;
}
.ap-nav .hsearch .search-wrapper {
  position: relative;
  border-radius: 20px;
  width: 35px;
  height: 35px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.37);
}
.ap-nav .hsearch .search-wrapper:hover {
  border-color: #f0a306;
  color: #f0a306;
}
.ap-nav .hsearch .search-wrapper.focused {
  width: 300px;
  color: #FFF;
  border-color: #FFF;
  background: #f5f5f5;
  position: absolute;
  left: 0;
  -webkit-transition: 275ms ease;
  -moz-transition: 275ms ease;
  -o-transition: 275ms ease;
  transition: 275ms ease;
}
.ap-nav .hsearch .search-wrapper.focused input {
  padding: 5px 40px 5px 13px;
  height: 35px;
  width: 100%;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.ap-nav .hsearch .search-wrapper.focused i {
  color: #000;
}
.ap-nav .hsearch .search-wrapper input {
  background: transparent;
  border: 0;
  color: #666;
  outline: none;
  height: 29px;
  width: 0;
  overflow: hidden;
  font-weight: 100;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition: 275ms ease;
  transition: 275ms ease;
}
.ap-nav .hsearch .search-wrapper i {
  position: absolute;
  font-size: 18px;
  top: 50%;
  right: 10px;
  color: #FFF;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.ap_header {
  background: #FFF;
  text-align: center;
}
.ap_header .ap_logo {
  display: inline-block;
  width: calc(100% - 755px);
  padding: 10px;
}
.ap_header .ap_logo img {
  max-width: 100%;
  max-height: 90px;
}

.ap_teams {
  background: #f8f8f8;
}
.ap_teams li {
  display: inline-block;
}
.ap_teams li a {
  padding: 5px;
  display: block;
}
.ap_teams li img {
  max-height: 30px;
  width: auto;
}

@media only screen and (max-width: 768px) {
  .ap-nav .ap_left .ap_share {
    right: auto;
    left: 40px;
  }
  .ap-nav .ap_left .hsearch {
    right: auto;
    left: 0;
  }
}
body.scrolled {
  padding-top: 45px;
}

.stiky {
  margin-bottom: 10px;
}
.stiky:hover .bt {
  max-height: 1000px;
  opacity: 1;
  -webkit-transition: all 350ms ease 0s;
  transition: all 350ms ease 0s;
}
.stiky:hover .bt.prv {
  left: 10px;
  border-radius: 50%;
  -webkit-transform: translateX(20px);
  transform: translateX(20px);
}
.stiky:hover .bt.nxt {
  right: 10px;
  border-radius: 50%;
  -webkit-transform: translateX(-20px);
  transform: translateX(-20px);
}
.stiky .bt {
  bottom: 0;
  background: #FFF;
  cursor: pointer;
  height: 40px;
  width: 40px;
  line-height: 40px;
  margin: auto;
  position: absolute;
  text-align: center;
  top: 0;
  z-index: 10;
  opacity: 0;
  -webkit-transition: all 350ms ease 0s;
  transition: all 350ms ease 0s;
}
.stiky .bt.prv {
  left: 10px;
  border-radius: 50%;
  -webkit-transform: translateX(-10px);
  transform: translateX(-10px);
}
.stiky .bt.nxt {
  right: 10px;
  border-radius: 50%;
  -webkit-transform: translateX(10px);
  transform: translateX(10px);
}
.stiky .item {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  margin-left: 5px;
}
.stiky .item:hover .thumbnail img {
  opacity: .7;
}
.stiky .item .thumbnail {
  background: #000;
  overflow: hidden;
}
.stiky .item .det {
  position: absolute;
  width: 100%;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 10px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9), transparent);
}
.stiky .item .det h2 {
  font-size: .9em;
  font-weight: 400;
  line-height: 150%;
}
.stiky .item .det h2 a {
  color: #FFF;
}

.td_match {
  background: #EEE;
  border-bottom: 1px solid #2D3E50;
}
.td_match:hover .bt {
  opacity: 1;
}
.td_match .bt {
  bottom: 0;
  top: 0;
  background: #FFF;
  color: #2D3E50;
  cursor: pointer;
  width: 40px;
  line-height: 40px;
  margin: auto;
  position: absolute;
  text-align: center;
  top: 0;
  z-index: 10;
  opacity: 0;
}
.td_match .bt:before {
  position: absolute;
  top: 50%;
  right: 50%;
  margin-top: -20px;
  margin-right: -5px;
}
.td_match .bt.prv {
  left: 0;
}
.td_match .bt.nxt {
  right: 0;
}
.td_match .mlist {
  display: none;
}
.td_match .mlist.slick-initialized {
  display: block;
}
.td_match .mlist .match {
  display: inline-block;
}
.td_match .mlist .match:nth-child(2n+1) {
  background: #FaFaFa;
}
.td_match .mlist .match:hover {
  border-color: #27ae60;
  background: #27ae60;
}
.td_match .mlist .match:hover p {
  background: #27ae60;
  color: #FFF;
}
.td_match .mlist .match .time {
  color: #000;
  font-size: 12px;
  background: #FFF;
  padding: 0 5px;
  border-radius: 3px;
}
.td_match .mlist .match .wrp {
  text-align: center;
  padding: 10px 0;
}
.td_match .mlist .match .wrp .home, .td_match .mlist .match .wrp .away {
  float: right;
  vertical-align: middle;
  width: 33%;
  text-align: center;
}
.td_match .mlist .match .wrp .home .thumbnail, .td_match .mlist .match .wrp .away .thumbnail {
  width: 30px;
  margin: 0 auto;
}
.td_match .mlist .match .wrp .home small, .td_match .mlist .match .wrp .away small {
  font-size: .7em;
}
.td_match .mlist .match .wrp .vs {
  float: right;
  width: 33%;
}

